{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %} 

{% block content %} 

<div class="container">
    <div class="row">
       <div class="email-para"> 
           <p> <em>You can reach us on following emails:</em> <br>
            <ul>
                <li> For basic inquiries, reach us at: <em>office@staff-master.com</em></li>
                <li>For further info, reach us at: <em>info@staff-master.com</em></li>
                <li>For technical support and troubleshooting, reach us at: <em>support@staff-master.com</em></li>
            </ul></p>
       </div> 
       <div class="phone-para"> 
           <p> Or you can reach us on: +112334567 </p>
       </div>
    </div>
</div>
{% endblock %}